.App {
  padding: 15px;
  align-items: center;
  background: #474a48;
  color: #474a48;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-login {
  color: black;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #537a5a;
  padding: 2.5rem;
}

.icon-login {
  width: 3rem;
  height: 3rem;
  margin-left: 5rem;
}

.button {
  width: 100%;
}

.login-message-fail {
  color: white;
}

.container-contacts-list {
  color: white;
  border: 1px solid black;
  background-color: #537a5a;
  text-align: center;
  width: 100%;
  margin-top: -30%;
}

.icon-collumn {
  width: 1%;
}

.icon-values {
  width: 2%;
}

.action-collumn {
  width: 15%;
}

.action-values {
  width: 15%;
}

.name-values {
  text-align: left;
}
